.resolution {
	width: 1024px;
	height: 1024px;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	padding: auto auto auto auto;
}

img {
	align-self: center;
	justify-self: center;
}

body {
	display: grid;
	grid-template-columns: auto 1024px auto;
	justify-content: center;
	background-color: rgb(174, 162, 162);
	background-image: url(./background.svg);
	background-size: cover;
	font-size: 20pt;
	font-family: cursive;
}

p {
	padding: 10px;
	margin: 10px;
}

h1 {
	display: grid;
	font-size: 45px;
	color: rgb(255, 255, 255);
	justify-self: center;
	justify-content: center;
	align-self: center;
}

h2 {
	display: inline;
	align-self: center;
	align-content: center;
	justify-content: center;

}


button {
	font-weight: bold;
	margin: 5px 5px 5px 40px;
	padding: 10px;
	background-color: lightgrey;
	font-size: 30px;
	border: solid darkblue 4px;
	border-radius: 10px;
}


.grid-container {
	font-size: medium;
}

.class-list {
	width: fill;
}

.linebreak {
	width: fill;
}

#main-content {
	align-content: center;
	justify-self: center;
	background-color: rgb(174, 162, 162);
	height: auto;
	border: 6px solid rebeccapurple;
	border-radius: 5px;
	padding: 0px 36px 0px 36px;
	color: aliceblue;
}

/* Styles Specific to the Home Page  */

#floor-plan-container {
	display: grid;
	justify-content: center;
	justify-self: center;

}


/* Styles Specific to the Navigation Bar */

#navigation-bar {
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: auto auto auto auto auto auto;
	grid-template-rows: auto auto;
	border-style: solid;
	border-color: rgb(162, 85, 165);
	border-width: 6px;
	border-radius: 5px;
	background-color: rgb(174, 162, 162);
}

.nav-icon {
	width: 60%;
	height: 60%;
	filter: invert(1);
}

.nav-link {
	padding: 0px 20px 10px 20px;
	font-size: 20pt;
	color: rgb(162, 85, 165);
}

/* Styles specific to the Company Logo  */

#logo-container {
	width: fill;
	height: auto;
	display: grid;
	grid-template-columns: auto fill auto;
	justify-content: center;
	padding: 40px;
	background-color: transparent;
}

.logo {
	align-self: center;
	animation-name: logoA;
	animation-timing-function: linear;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	height: 175%;
	width: auto;
}


/* Boardgame Page Specific CSS  */

.product-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	border: 6px solid cornflowerblue;
	border-radius: 5px;
	margin: 24px 0px 12px 0px;
}

.item-description {
	padding: 12px;
}

.product-img {
	height: fill;
	width: fill;
}


/* About Us Specific CSS  */

#map-container {
	display: grid;
	align-content: center;
	justify-content: center;
	
}

.map {
	width: 99%;
}

#open-times {
	display: grid;
	width: fill;
	justify-content: center;
	column-gap: 50px;
}

th {
	padding: 12px;
}

td {
	padding: 8px 24px 8px 24px;
}


/* CSS Animations */

/* This is the animation for the company logo that appears on all pages */
@keyframes logoA {
	from {filter: hue-rotate(0deg);}
	50% {filter: hue-rotate(360deg);}
	to {filter: hue-rotate(0deg);}

};